{% extends 'shop/base.html' %}

{% block content %}
<h1>Checkout</h1>

{% if messages %}
<div class="container mt-4">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}


<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.product.price }}</td>
                <td>${{ item.get_total_price }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<h3>Total Amount: ${{ total }}</h3>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Place Order</button>
</form>
{% endblock %}
